<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>go-voting</title>
    <meta name="description" content="voting server">
    <link rel="stylesheet" type="text/css" href="/static/spectre.css">
    <script src="/static/script.js" language="javascript" type="text/javascript"></script>
  </head>

  <body>
    <div class="container text-center">
      <h1>All polls</h1>
      <div class="divider"></div>
    </div>
    {{ range .AllPolls }}
    <div class="container col-9">
      <div class="float-right">
	<form method="POST">
	  <button class="btn btn-primary btn-sm" name="pollid" value="{{.ID}}" formaction="/remove">Delete poll</button>
	</form>
      </div>
      <h2>{{.Title}}</h2>
      <form method="POST">
	<div class="form-group">
	  {{ range .Options }}
	  <label class="form-radio">
            <input type="radio" name="optionid" value="{{.ID}}" />
            <i class="form-icon"></i> {{ .Option }}
	  </label>
	  {{end}}
	</div>
        <input class="form-input col-3" type="text" id="vote" name="name" placeholder="Name" />
	<input type="hidden" name="pollid" value="{{ .ID }}" />
	<div class="mt-10"></div>
	<button class="btn btn-primary input-group-btn" formaction="/vote">Submit</button>
      </form>

      <div>
	<h3>Results:</h3>
	{{ range .Options }}
	<h4>{{.Option}}:</h4>
	<ul>
	  {{ range .Votes }}
	  <li>{{ .Voter }}</li>
	  {{end}}
	</ul>
	{{end}}
      </div>
      <div class="divider"></div>
    </div>
    {{ end }}
    <div class="text-center">
      <h2>New Poll</h2>
    </div>
    <div class="divider"></div>
    <div class="form-group container col-9">
      <form id="submitform" method="POST">
	<div class="form-group col-3">
	  <input class="form-input" type="text" name="title" placeholder="Poll Name" />
	  <div class="mt-10 col-6" id="dyninp">
	    <input class="form-input" type="text" name="options" placeholder="Option 1" />
	  </div>
	  <div class="mt-10"></div>
	  <button class="btn btn-primary btn-sm" onclick="addInput('dyninp'); return false;">Add option</button>
	  <div class="mt-10"></div>
	  <button class="btn btn-primary input-group-btn" formaction="/new">Submit new Poll</button>
	</div>
      </form>
    </div>
  </body>
</html>
